@import "tailwindcss";

@theme {
  --color-purple: #4b2675;
  --color-purple-dk: #321859;
  --color-purple-lt: #c9b3e8;
  --color-purple-bg: #f5f0fc;
  --color-ink: #1e1e24;
  --color-paper: #fafafa;
  --color-muted: #665687;

  --font-sans: "Outfit", sans-serif;
  --font-serif: "DM Serif Display", serif;
}

html {
  scroll-behavior: smooth;
}
