---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Products from '../components/Products.astro';

// Welcome to Astro! Gratuitous fonts and colors are applied via the Layout.
---

<Layout title="Vitalis Cognita | Conecta Salud del Norte">
	<Hero />
	<Products />
	<section id="about" class="h-screen bg-paper flex items-center justify-center">
		<h2 class="font-serif text-4xl text-purple-dk">Nuestra Visión</h2>
	</section>
</Layout>
